@import 'tailwindcss';

::-webkit-scrollbar{
    display: none;
    /* background-color: rgba(red, green, blue, alpha); */
}

@keyframes blink{
    0%,
    20%{
        opacity: 0;

    }
    50%{
        opacity: 1;

    }

    100%{
        opacity: 0;

    }
    
}